
body {    
    background-image:url(../images/artificial.jpg);       
	}


/* Entire heading Styling including for navigation*/

@media (min-width: 576px) {  
	[class*="h1"] {
	width: 300;
	align-self: flex-start;

	}}

  /* Styling name at header*/

  @media (min-width: 576px) {  
	[class*="masthead"] {   
	  
	  padding: 0 2% 0 2%;
		  
	} 

	/*  header making heady stick*/

  @media (min-width: 576px) {  
	[class*="sticky-top"] {
	  display: flex;
	  justify-content: center;

	}}

/* Styling for navigatin as a whole*/

@media (min-width: 576px) {  
  [class*="xbox"] {   
  align-self: flex-end;    
  } }


/* nav styling*/

@media (min-width: 768px) {  
[class*="ngroup"] {
  display: flex;            
  justify-content: space-between; 
  width: 720px;
  margin-bottom: 0;

}    }  

/* nav styling*/

@media (min-width: 992px) {  
[class*="ngroup"] {
  display: flex;            
  justify-content: space-between; 
  width: 960px;
  margin-bottom: 0;

}    } 


.container {
	padding: 20px;    
	border-radius: 25px;
	font-size: 2rem;
	width :50%;
}

#length {
	border-radius: 10px;
	text-align-last: justify;
}


.password {	
	font-size: 1.8rem;
	overflow-x: scroll;		
	position: relative;	
	height: 90px;
	width: 100%;
	border-radius: 10px;		
}

.password .btn {	
	border-radius: 10px;	
	right: 5px;
}

#specialChar  { 
	width: 40px; 
	height: 40px; 
} 

#lower  { 
	width: 40px; 
	height: 40px; 
} 

#number  { 
	width: 40px; 
	height: 40px; 
} 

#upper  { 
	width: 40px; 
	height: 40px; 
} 

#generate{
border-radius: 10px;
font-size: 2rem;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	bottom: 100px;
  }
  
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

.box {		
	justify-content: space-between;		
	align-self: center;
	align-items: center;
	border-radius: 10px;	
}


