

body {    
    background-image: url(https://cdn.pixabay.com/photo/2018/03/03/09/40/background-3195268_960_720.jpg);        
	}


.container {
	padding: 20px;    
	border-radius: 25px;
	
}

.password {
	background-color:#CCDFCB;
	color: #050A30;	
	display: flex;	
	justify-content: flex-start;	
	position: relative;		
	padding: 30px 10px;
	height: 100px;
	width: 100%;
	
}

.password .btn {	
	border-radius: 10px;	
	right: 5px;
}

#generate{
border-radius: 20px;
font-size: 2rem;
zoom:2;

}




.box {
		
	justify-content: space-between;		
	align-self: center;
	align-items: center;
	zoom:2;
	border-radius: 10px;
	
	
}


